:root{
  --main-color:hsl(171, 100%, 41%);
  --color-black:black;
  --color-white:white;
}

h1 {
    font-size: x-large;
    text-shadow: 15px 15px 15px #000000;
}

.form-label {
    font-size: xx-large;
    text-shadow: 2px 2px 4px #000000;
}

#main-section{
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-section-content{
  background-color: var(--main-color);
  border-radius: 15px;
  padding: 250px;
  color: black;
}

.main-section-content:hover{
  background-color: black;
  color: white;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: rgb(0, 0, 0);
  }
.btn {
  cursor: pointer;
  font-size: 1.3rem;
  padding: 6px 5px;
  width: 100%;
  display: block;
  border-radius: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  outline: none;
  background-color:rgb(255, 255, 255);
  box-shadow: 3px 3px 3px;
  transform: translate(-1px, -1px);
}

.btn:hover{
  background-color: var(--main-color);
}



/* secrion two start */
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 127, 209, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility:hidden;
    z-index: 10;
}

.modal-overlay.active {
  visibility: visible;
}


.modal-container {
  background-color: rgb(100, 96, 96);
  color: black;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  width:100%;
  box-shadow: 15px 15px 15px rgb(12, 12, 12);

}

.subtitle{
  color: black;
}



.btn-close{
  margin-top: 20px;
  background-color: var(--main-color);
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

#menu{
  margin-top: 50px;
  padding: 20px;
}

.ul{
  justify-content: space-between;
  background-color: rgb(180, 165, 144);
  width: 100%;
}

.list-items{
  width: 50%;
  margin: 1px;
  font-style:oblique;
  font-size: 15px;
  border: 1px dotted black;
  padding: 4px;
}
.list-item{
  border: 2px solid rgb(36, 34, 34);
}

.header-info{
  background-color: rgb(22, 21, 21);
}


.header-status {
  padding: 10px;
  color: white;
}

.header-header{
  color: white;
}

.link{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  width: 50%;
  font-size: 32px;
  background-image: url(/assets/images/youtube_hero_1200x675.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-content{
background-color: rgb(224, 18, 18);
padding: 1px;
border-radius: 5px;
color: white;
}


