body{
  background-color: black;
  color: white;
  min-height: 100vh;
}

.hero{
  text-align: center;
}

.column{
  padding: 20px;
}

#col{
  padding: 35px;
}

.fa-solid{
  font-size: 30px;
}

.fas{
font-size: 30px;
}

/* section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  background-color: red;
}

img{
  width: 200px;
} */